@import "./variables.css";

.how-we-work-banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-violet);
  font-family: "DM Serif Display", sans-serif;
  color: var(--light-gray);
  text-align: center;
  padding: 76px 30px;
  margin-top: 142px;
  background-image: url("../images/bg-pattern-how-we-work-mobile.svg");
  background-repeat: no-repeat;
  background-position: top right;
}
.how-we-work-banner h2 {
  font-size: 42px;
  margin-bottom: 40px;
  line-height: 1.1;
}
.how-we-work-banner a {
  display: inline-block;
  padding: 14px 11px;
  width: 162px;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  font-size: 12px;
  font-family: "Karla", sans-serif;
  color: var(--light-gray);
  border: 1px solid var(--light-gray);
}
.how-we-work-banner a:hover {
  background-color: var(--light-gray);
  color: var(--dark-violet);
}

@media screen and (min-width: 1280px) {
  .how-we-work-banner {
    flex-direction: row;
    padding: 64px 80px;
    justify-content: space-between;
    margin-top: 165px;
    background-image: url("../images/bg-pattern-how-we-work-desktop.svg");
    /* background-size: contain; */
  }
  .how-we-work-banner h2 {
    margin-bottom: 0;
    font-size: 52px;
    max-width: 60%;
    line-height: 1.1;
    text-align: left;
  }
}
