@import "./variables.css";

.main-footer {
  padding: 0 26px 88px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-gray);
}

.main-footer .social-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 87px 0 41px;
  border-bottom: 1px solid var(--primary-blue);
}
.main-footer .social-links svg:hover path {
  fill: var(--dark-violet);
}
.main-footer .social-links ul {
  display: flex;
  align-items: flex-start;
  margin-top: 32px;
}
.main-footer .social-links li:not(:last-child) {
  margin-right: 17px;
}
.main-footer nav .footer-list:not(:last-child) {
  margin-bottom: 42px;
}
.main-footer nav {
  width: 100%;
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 720px) {
  .main-footer .social-links {
    flex-direction: row;
    justify-content: space-between;
  }
  .main-footer nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .main-footer nav .footer-list {
    align-items: flex-start;
  }
}
@media screen and (min-width: 1115px) {
  .main-footer nav {
    justify-content: flex-start;
  }
  .main-footer nav .footer-list:not(:last-child) {
    margin-right: 172px;
  }
  .main-footer .footer-list:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .main-footer {
    padding: 0 165px 88px;
  }
}
